{% extends "database/base.html" %}
{% load static %}

{% block subtitulo %} Usuario {% endblock %}

{% block contenedor %}
<form action="{% url 'usuario:actualizar' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="usuario_id" value="{{datos.usuario_id}}">
    <div class="mb-3">
        <label for="">Nombre</label>
        <input type="text" class="form-control" name="usuario_nombre" value="{{datos.usuario_nombre}}" required>
    </div>

    <div class="mb-3">
        <label for="">Correo</label>
        <input type="email" class="form-control" name="usuario_correo" value="{{datos.usuario_correo}}" required>
    </div>

    <div class="mb-3">
        <label for="">Password</label>
        <input type="password" class="form-control" name="usuario_password">
    </div>

    <div class="mb-3">
        <label for="">Peso</label>
        <input type="number" class="form-control" name="usuario_peso" value="{{datos.usuario_peso}}" required>
    </div>

    <div class="mb-3">
        <label for="">Altura</label>
        <input type="number" class="form-control" name="usuario_altura" value="{{datos.usuario_altura}}" required>
    </div>

    <div class="mb-3">
        <label for="">Edad</label>
        <input type="number" class="form-control" name="usuario_edad" value="{{datos.usuario_edad}}" required>
    </div>

    <input type="hidden" name="usuario_rol" value="usuario" value="{{datos.usuario_rol}}" required>
    
    
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}