{% extends "database/baseUsuario.html" %}
{% load static %}

{% block subtitulo %} Encuesta {% endblock %}

{% block contenedor %}
<form action="{% url 'IPqr:ingresar' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="">Tipo</label><br>
        <select class="form-control" name="pqr_tipo">
            <option value="reportar error">Reportar Error</option>
            <option value="sugerencia">Sugerencia</option>
            <option value="ayuda">Ayuda</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="">Descripcion</label>
        <textarea type="text" class="form-control" id="input-formulario" name="pqr_desc"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}