{% extends "database/base.html" %}
{% load static %}

{% block subtitulo %} Plan {% endblock %}

{% block contenedor %}
<form action="{% url 'plan:ingresar' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="">Descripcion</label>
        <textarea type="text" class="form-control" id="input-formulario" name="plan_desc" required></textarea>
    </div>
    <div class="mb-3">
        <label for="">Recomendaciones</label>
        <textarea type="text" class="form-control" id="input-formulario" name="plan_recomendacion" required></textarea>
    </div>

    <div class="mb-3">
        <label for="">Especificacion</label>
        <select class="form-control" name="plan_especificacion" required>

            {% for i in especificaciones%}
            <option value="{{i.especificacion_id}}">{{i.especificacion_nombre}}</option>
            {% endfor %}

        </select>
    </div>
    <div class="mb-3">
        <label for="">Meta</label>
        <select class="form-control" name="meta_especificacion" required>
    
            {% for i in metas%}
            <option value="{{i.id}}">{{i.meta_desc}}</option>
            {% endfor %}
    
        </select>
    </div>
    <div class="mb-3">
        <label for="">Usuario</label>
        <select class="form-control" name="usuario_especificacion" required>
    
            {% for i in usuarios%}
            <option value="{{i.usuario_id}}">{{i.usuario_nombre}}</option>
            {% endfor %}
    
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}