{% extends "database/baseUsuario.html" %}
{% load static %}
{% block subtitulo %} Meta {% endblock %}

{% block contenedor %}


{% if messages %}

{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{message.tags}}{% else %}dark{% endif %}" role="alert">
    {{message}}
</div>
{% endfor %}


{% endif %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{message.tags}}{% else %}dark{% endif %}" role="alert">
    {{message}}
</div>
{% endfor %}


{% endif %}

{% if meta %}
<div id="cartaMeta" class="card">
    <div class="card-body">
      <h4 class="card-title">Tu Meta</h4>
      <p class="card-text">{{meta.meta_tipo}}</p>
      <h5 class="card-title">Descripcion</h5>
      <p class="card-text">{{meta.meta_desc}}</p>
      <h5 class="card-title">Peso ideal</h5>
      <p class="card-text">{{meta.meta_peso_ideal}}</p>
    </div>
</div>
    {% else %}
<div>
    No hay datos...
</div>
{% endif %}
{% endblock %}