{% extends "database/baseUsuario.html" %}
{% load static %}

{% block subtitulo %} Plan {% endblock %}

{% block contenedor %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{message.tags}}{% else %}dark{% endif %}" role="alert">
    {{message}}
</div>
{% endfor %}


{% endif %}

{% if datos %}



<div id="cartaMeta" class="card">
<h2 id="colorprincipal" class="card text-center">Tu Plan</h2>
<div id="metaColor1" class="card-body">
    <label for="">En que consiste tu plan</label>
    <p class="card-text">{{datos.plan_desc}}</p>


    <label for="">Recomendaciones</label>
    <p class="card-text">{{datos.plan_recomendaciones}}</p>
</div>
</div>

    {% else %}
    No hay datos...

{% endif %}

{% endblock %}