{% extends "database/baseUsuario.html" %}
{% load static %}

{% block subtitulo %} Especificacion {% endblock %}

{% block contenedor %}
{% if messages %}

{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{message.tags}}{% else %}dark{% endif %}" role="alert">
    {{message}}
</div>
{% endfor %}


{% endif %}
{% if datos %}




<div id="cartaEspe" class="card" class="dias">
    <h2 class="card text-center">Tu Dieta-Entreno</h2>
    <div class="card-body" class="dias1">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card text-center">Dia 1</h5>
                <p class="card-text">{{datos.especificacion_dia_1}}</p>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card text-center">Dia 2</h5>
                <p class="card-text">{{datos.especificacion_dia_2}}</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card text-center">Dia 3</h5>
                <p class="card-text">{{datos.especificacion_dia_3}}</p>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card text-center">Dia 4</h5>
                <p class="card-text">{{datos.especificacion_dia_4}}</p>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card text-center">Dia 5</h5>
                <p class="card-text">{{datos.especificacion_dia_5}}</p>
            </div>
        </div>

        <div class="card text-end" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card text-center">Dia 6</h5>
                <p class="card-text">{{datos.especificacion_dia_6}}</p>
            </div>
        </div>

        <div class="card text" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card text-center">Dia 7</h5>
                <p class="card-text">{{datos.especificacion_dia_7}}</p>
            </div>
        </div>

        <div class="card text" style="width: 18rem;">
            <div class="card-body">
                            <h5 class="card text-center">
                                {{datos.especificacion_nombre}}
                            </h5>
                            <h6 class="card-subtitle mb-2" id="div-blanco">Te recomendamos</h6>
                            <p class="card-text">{{datos.especificacion_recomendacion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


{% else %}
No hay datos...
</div>
{% endif %}


{% endblock %}