{% extends "database/baseUsuario.html" %}
{% load static %}

{% block titulo %} Bienvenido {% endblock %}

{% block contenedor %}
{% if messages %}

{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{message.tags}}{% else %}dark{% endif %}" role="alert">
    {{message}}
</div>
{% endfor %}


{% endif %}

    <h1 class="ho">Bienvenido a salutApp, estás en las mejores manos</h1>
    <img id="imagenSalud" src="{% static 'database/img/2307153.jpg' %}" width="20%" height="100px">
    
{% endblock %}

